/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
 
}
em{
    font-style: normal;
}
h2{
    color: #424242;
    font-size: 18px;
    font-weight: 400;
}
/*字体图标的使用*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7kkyc2');
    src:  url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7kkyc2') format('truetype'),
      url('../fonts/icomoon.woff?7kkyc2') format('woff'),
      url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
span.icon{
    font-family: "icomoon";
    
}
 
/* 顶部条样式 */
.site-topbar{
    width: 100%;
    height: 40px;
    background-color: #333;
    
}

.container{
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.site-topbar a{
    color: #b0b0b0;
    text-decoration: none;
    line-height: 40px;
    font-size: 12px;
}

.site-topbar a:hover{
    color: white;
}

.sep{
    color: #424242;
    font-size: 12px;
    margin: 0 3.6px;
}

.topbar-nav{
    float: left;
}

.topbar-info{
    float:right;
    padding: 0 10px;
}
/* 下载APP样式 */
.site-topbar a.topbar-download{
    position: relative;
}
.site-topbar a.topbar-download .appcode{
    position: absolute;
    top:40px;
    left:50%;
    width: 124px;
    height: 0;
    background-color: #fff;
    box-shadow:#aaa 0 1px 5px;
    margin-left: -55px;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    transition: height .3s;
    z-index: 999;
}
.site-topbar a.topbar-download:hover .appcode{
    height: 148px;
}
.site-topbar a.topbar-download .appcode img{
    display: block;
    margin: 18px auto 12px;
}
/* 上三角效果 */
.site-topbar .topbar-download:hover:before{
    content: "";
    position: absolute;
    bottom: -12px;;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 8px ;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
}
/* 购物车样式 */
.topbar-cart{
    position: relative;
    float:right;
    width: 120px ;
    background-color: #424242;
    text-align: center
    
}

.topbar-cart a:hover{
    
    display: block;
    width: 120px;
    height: 40px;
    background-color: white;
    color:#ff6a00
}

.site-topbar .topbar-cart .cart-box{
    position: absolute;
    top:40px;
    right:0;
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow:#aaa 0 1px 5px;
    margin-left: -55px;
    text-align: center;
    font-size: 12px;
    color: #333;
    line-height:100px;
    overflow: hidden;
    transition: height .3s;
    z-index: 999;
}
.site-topbar .topbar-cart:hover .cart-box{
    height: 100px;
}
/* 导航条样式 */
.site-header{
    height: 100px;
}
    /* logo */
.header-logo img{
    width: 56px;
    height: 56px;
    float: left;
    margin-top: 22px;
    
}
    /* 导航 */
.header-nav{
    float: left;
    height: 88px;
    padding: 12px 0 0 30px;
 
}
.nav-category{
    width: 100px;
    height: 88;
    padding: 0 15px 0 0;
    
}
.header-nav li{
    float: left;
    text-align: -webkit-match-parent;
    padding: 26px 10px 38px;
    font-size: 16PX;
    color: #333333;
}
.header-nav li:hover{
    color: #ff6a00;
}

    /* 搜索框 */
.search-text input[type=search] {
    margin-top: 26px;
    float: right;
    border: 1px solid #e0e0e0;
    right: 51px;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
    
}
.search-icon{
    margin-top: 26px;
    line-height: 100px;
    float: right;
    width: 40px;
    height: 44px;
    padding: 1px 6px;
    font-size: 24px;
    color: #616161;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    border-left: none;
    text-align: center;
}
.search-icon:hover{
    background-color: #ff6a00;
    color:white;
}

/* 页脚样式 */
.site-footer{
    height: 285px;
}
.footer-service{
    height: 25px;
    padding: 27px 0px;
    
}
.footer-service li{
    float: left;
    width: 243.73px;
    line-height: 25px;
    text-align: center;
}

.footer-service a{
    font-size: 16px;
    color: #616161;
    text-decoration: none;
}

.footer-service a:hover{
    color: #ff6a00;
}

.footer-service .sep{
    float: right;
    color: #ddd;
    font-size: 20px;
    font-weight: 100;
}

.footer-links{
    padding: 40px 0;
}
.footer-links .col-links{
    float: left;
    width: 160px;
}

.site-footer .footer-links .col-links dt{
    font-size: 14px;
    margin: -1px 0 26px;
    color: #424242;
    
}
.site-footer .footer-links .col-links dd{
    font-size: 12px;
    margin: 10px 0 0;
    color: #757575;
}

.site-footer .footer-links .col-links dd:hover{
    color: #ff6a00;
}

/* 竖分割线 */
.vertical-bar{
    width: 1px;
    height: 100px;
    background-color: #ddd;
    float: right;
}
.col-contact{
    float: right;
}
.col-contact{
    width: 252px;
    text-align: center;
}
.col-contact .phone{
    color: #ff6700;
    font-size: 22px;
    margin: 0 0 5px;
}
.col-contact p{
    color: #616161;
    font-size: 12px;
    margin: 0 0 16px;
}
.col-contact .contact a{
    display:inline-block;
    color: #ff6700;
    font-size: 12px;
    width: 120px;
    height: 30px;
    text-decoration: none;
    border:1px solid #ff6700;
    line-height: 30px;
}

.col-contact .contact a:hover{
    background-color: #ff6700;
    color: white;
}

.col-contact .follow{
    font-size: 12px;
    color: #616161;
    margin: 10px 0 0 ;
}
.col-contact .web{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/wb.png) ;
    background-size: cover;
    margin: -3px 0 0 6px;
    vertical-align:middle;
}
.col-contact .web:hover{
    background: url(../images/wb@2x.png);
    background-size: cover;
}
.col-contact .wx{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/wx.png) ;
    background-size: cover;
    margin: -3px 0 0 6px;
    vertical-align:middle;
}
/* 微信二维码 */
.col-contact .wx .wxcode{
    position: absolute;
    width: 126px;
    height: 0;
    top: 20px;
    left: -70px;
    overflow: hidden;
    transition: height .3s;
    z-index: 999;
}
.col-contact .wx .wxcode img{
    width: 126px;
    height: 126px;
}
.col-contact .wx:hover .wxcode{
    height: 126px;
}
.col-contact .wx:hover{
    background: url(../images/wx@2x.png);
    background-size: cover;
}
/* 网站信息 */
.site-info{
    padding: 30px 0;
}

.site-info .logo {
    width: 57px;
    height: 57px;
    background-image: url(../images/logo-mi2.png);
    background-size: cover;
    float: left;
    margin-right: 10px;
    
}
.site-info .info-text .sites a{
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}
.site-info .info-text .sites2 {
    display: block;
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
    width: 1159px;
    height: 72px;
    float: left;
}
.site-info .info-text .sites2 a{
    text-decoration: none;
    color: #b0b0b0;
    
}
.site-info .info-links {
    width: 1159px;
    padding-left: 67px;
    margin: 4px 0 15px;
}

.slogan{
    margin-top: 30px;
    height: 19px;
    width: 100%;
    text-align: center;
}
